.creative {
  padding-top: rem(186);
  padding-bottom: rem(200);

  &__bg {
    top: rem(-50);
    left: rem(-1000);
    position: absolute;
    width: rem(911);
    height: rem(867);
  }

  &__card {
    display: flex;
  }

  &__img {
    flex-shrink: 0;
    width: rem(58);
    height: rem(57);
  }

  &__text {
    margin-left: rem(20);

    &-title {
      margin-bottom: rem(5);
    }
  }

  &__deck {
    display: flex;
    align-items: center;
    margin-bottom: rem(58);
  }

  &__content {
    position: relative;
    margin-left: auto;
    max-width: rem(690);
  }

  &__title {
    margin-bottom: rem(14);
  }

  &__description {
    margin-bottom: rem(50);

    &:not(:last-of-type) {
      margin-bottom: rem(46);
    }
  }
}
