.not-found {
  padding: 50px 0;
  height: rem(898);
  position: relative;
  margin-bottom: rem(130);

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

  }

  &__img {
    width: rem(502);
    height: rem(219);
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    position: relative;
  }

  &__description {
    margin-top: rem(9);
  }

  a {
    margin-top: rem(36);
    margin-right: auto;
  }
}
