<section class="choose">
  <div class="container">
    <div class="choose__content">
      <div class="choose__block">
        <div class="introduction"><p>Why Choose us?</p></div>
        <div class="title-2 choose__title"><h2>We do not buy from the open market & traders.</h2></div>
        <div class="description choose__description"><p>Simply dummy text of the printing and typesetting industry.
          Lorem had ceased to been
          the industry's standard the 1500s, when an unknown</p></div>
        <div class="choose__list">
          <div class="choose__benefits">
            <div class="choose__benefits-block"><img src="img/benefits-icon.svg"
                                                     alt=""><span>100% Natural Product</span></div>
            <div class="description choose__benefits-description"><p>Simply dummy text of the printing and typesetting
              industry Lorem Ipsum</p></div>
          </div>
          <div class="choose__benefits">
            <div class="choose__benefits-block"><img src="img/benefits-icon.svg"
                                                     alt=""><span>Increases resistance</span></div>
            <div class="description choose__benefits-description"><p>Filling, and temptingly healthy, our Biona Organic
              Granola with Wild Berries is just the thing</p></div>
          </div>
        </div>
      </div>
      <div class="choose__img">
        <img src="img/choose-img.png" alt="">
      </div>
    </div>
    <div class="choose__deck">
      <div class="choose__card">
        <div class="choose__card-img">
          <img src="img/choose-cart.svg" alt="">
        </div>
        <div class="title-6 choose__card-title"><h6>Return Policy</h6></div>
        <div class="description choose__card-description"><p>Simply dummy text of the printintypesetting industry.</p>
        </div>
      </div>
      <div class="choose__card">
        <div class="choose__card-img">
          <img src="img/choose-leaf.svg" alt="">
        </div>
        <div class="title-6 choose__card-title"><h6>100% Fresh</h6></div>
        <div class="description choose__card-description"><p>Simply dummy text of the printintypesetting industry.</p>
        </div>
      </div>
      <div class="choose__card">
        <div class="choose__card-img">
          <img src="img/choose-clock.svg" alt="">
        </div>
        <div class="title-6 choose__card-title"><h6>Support 24/7</h6></div>
        <div class="description choose__card-description"><p>Simply dummy text of the printintypesetting industry.</p>
        </div>
      </div>
      <div class="choose__card">
        <div class="choose__card-img">
          <img src="img/choose-card.svg" alt="">
        </div>
        <div class="title-6 choose__card-title"><h6>Secured Payment</h6></div>
        <div class="description choose__card-description"><p>Simply dummy text of the printintypesetting industry.</p>
        </div>
      </div>
    </div>
  </div>
</section>
