<section class="copyright">
  <div class="container">
    <div class="copyright__body">
      <div class="copyright__block">
        <div class="title-3 copyright__name"><h3>Icon & Graphics</h3></div>
        <div class="description copyright__text copyright__name-description"><p>Icons and Graphics are manually designed
          by
          the VictorFlow
          Templates
          team. You
          may download these and edit them to fit your website without asking for permission or providing credit.</p>
          <p>Upon purchasing Software UI Kit Template our team grants you a nonexclusive, worldwide copyright license to
            download, copy, modify, and use the icons.</p></div>
      </div>
      <div class="copyright__block">
        <div class="title-3 copyright__name"><h3>Photography</h3></div>
        <div class="description copyright__text"><p>All images used in the Organick Webflow Template are licensed for
          free personal and commercial use. If you'd like to use any specific image, you can check the licenses and
          download the images for free on Unsplash, Pexels‍. And Freepik.</p>
          <div class="copyright__article">
            <div class="title-5"><h5>Unsplash</h5></div>
            <a href="/">Image 1, Image 2, Image 3, Image 4, Image 5, Image 6, Image 7, Image 8, Image 9, Image 10, Image
              11, Image 12, Image 13, Image 14, Image 15, Image 16, Image 17, Image 18, Image 19, Image 20, Image 21,
              Image 22, Image 23, Image 24, Image 25,</a>
          </div>
          <div class="copyright__article">
            <div class="title-5"><h5>Pixcel</h5></div>
            <a href="/">Image 1, Image 2, Image 3, Image 4, Image 5, Image 6, Image 7, Image 8, Image 9, Image 10, Image
              11, Image 12, Image 13, Image 14, Image 15, Image 16, Image 17, </a>
          </div>
        </div>
      </div>
      <div class="copyright__block">
        <div class="title-3 copyright__name"><h3>Font</h3></div>
        <div class="description copyright__text copyright__name-description"><p>Organick template uses free licensed
          Google Fonts. Please check <b>Roboto, Yellowtail</b><br>
          and <b>Open Sans.</b></p></div>
      </div>
    </div>
  </div>
</section>
