<section class="creative">
  <div class="container">
    <div class="creative__content">
      <div class="creative__bg"><img src="img/creative-img.png" alt=""></div>
      <div class="introduction"><p>About Us</p></div>
      <div class="title-2 creative__title"><h2>We Believe in Working Accredited Farmers</h2></div>
      <div class="description creative__description"><p>Simply dummy text of the printing and typesetting industry.
        Lorem had ceased to been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley.</p></div>
      <div class="description creative__description"><p>Simply dummy text of the printing and typesetting industry.
        Lorem had ceased to been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley.</p></div>
      <div class="creative__deck">
        <div class="creative__card">
          <div class="creative__img"><img src="img/creative-icon1.svg" alt=""></div>
          <div class="creative__text">
            <div class="title-6 creative__text-title"><h6>Modern Agriculture Equipment
            </h6></div>
          </div>
        </div>
        <div class="creative__card">
          <div class="creative__img"><img src="img/creative-icon2.svg" alt=""></div>
          <div class="creative__text">
            <div class="title-6 creative__text-title"><h6>No growth hormones are used</h6></div>
          </div>
        </div>
      </div>
      <a href="/" class="btn">Explore More <img src="img/btn-arrow.svg" alt=""></a>
    </div>
  </div>
</section>
