<section class="eco">
  <div class="container">
    <div class="eco__bg"><img src="img/eco-bg.png" alt=""></div>
    <div class="eco__content">
      <div class="introduction"><p>Eco Family</p></div>
      <div class="title-2 eco__title"><h2>Econis is a Friendly Organic Store</h2></div>
      <ul class="eco__list">
        <li>
          <div class="title-6 eco__list-title"><h6>Start with Our Company First</h6></div>
          <div class="description eco__description"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptat
            accusantium
            doloremque laudantium. Sed ut perspiciatis.</p></div>
        </li>
        <li>
          <div class="title-6 eco__list-title"><h6>Start with Our Company First</h6></div>
          <div class="description eco__description"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptat
            accusantium
            doloremque laudantium. Sed ut perspiciatis.</p></div>
        </li>
        <li>
          <div class="title-6 eco__list-title"><h6>Start with Our Company First</h6></div>
          <div class="description eco__description"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptat
            accusantium
            doloremque laudantium. Sed ut perspiciatis.</p></div>
        </li>
      </ul>
    </div>
  </div>
</section>
