<section class="farm">
  <div class="container">
    <div class="farm__img">
      <img src="img/services-img1.png" alt="">
    </div>
    <div class="farm__body">
      <div class="title-2 farm__body-title"><h2>Organic Store Services</h2></div>
      <div class="description farm__description farm__description-bigger"><p>It's a long established fact that a
        reader will be
        distracted by the readable content
        of a page when looking a layout. The point of using Lorem Ipsum is that it has a more-or-less normal
        distribution of letters, as opposed to using 'Content here, content here', making it look like readable
        English. </p>
        <p>
          Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and
          auncover many web sites still in their infancy. Various versions have evolved over the years
        </p></div>
      <div class="farm__info">
        <div class="farm__info-img">
          <img src="img/services-img2.png" alt="">
        </div>
        <div class="farm__info-text">
          <div class="title-5 farm__info-title"><h2>Why Organic</h2></div>
          <div class="description"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptat. page editors now use
            Lorem Ipsum as their default model text, and auncover.</p></div>
        </div>
      </div>
      <div class="farm__info">
        <div class="farm__info-img">
          <img src="img/services-img3.png" alt="">
        </div>
        <div class="farm__info-text">
          <div class="title-5 farm__info-title"><h2>Why Organic</h2></div>
          <div class="description"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptat. page editors now use
            Lorem Ipsum as their default model text, and auncover.</p></div>
        </div>
      </div>
      <div class="farm__text">
        <div class="title-4"><h4>We farm your land</h4></div>
        <div class="description farm__description-smaller"><p>It is a long established fact that a reader will be
          distracted by the readable
          content of a page when looking a layout. The point of using Lorem Ipsum is that it has a more-or-less normal
          distribution of letters, as opposed to using 'Content here, content here', making it look like readable
          English.</p></div>
      </div>
      <div class="farm__benefits">
        <div class="farm__block">
          <span>01</span>
          <div class="title-6"><h6>Best quality support</h6></div>
        </div>
        <div class="farm__block">
          <span>02</span>
          <div class="title-6"><h6>Money back guarantee</h6></div>
        </div>
      </div>
    </div>
  </div>
</section>
