<section class="goods">
  <div class="container">
    <div class="goods__content">
      <div class="goods__product">
        <div class="goods__img"><img src="img/card-nuts.png" alt=""></div>
        <p>Millets</p>
      </div>
      <div class="goods__info">
        <div class="goods__name">
          <div class="title-2 goods__title"><h2>Health Pistachios</h2></div>
          <div class="goods__name-img"><img src="img/card-stars.svg" alt=""></div>
          <div class="goods__price">
            <p>$20.00</p>
            <p>$13.00</p>
          </div>
        </div>
        <div class="description goods__description"><p>
          Simply dummy text of the printing and typesetting industry. Lorem had ceased to been the industry's standard
          dummy text ever since the 1500s, when an unknown printer took a galley.
        </p>
        </div>
        <div class="goods__buy">
          <span>Quantity:</span>
          <input type="number" value="1">
          <button class="btn">Add To Card <img src="img/btn-arrow.svg" alt=""></button>
        </div>
      </div>
    </div>
    <div class="goods__additional">
      <div class="goods__additional-block">
        <a data-tab="1" class="btn btn-info active">Product Description</a>
        <a data-tab="2" class="btn btn-info">Additional Info</a>
      </div>
      <div id="text_01" class="description goods__additional-description">
        <p>Welcome to the world of natural and organic. Here you
          can discover
          the bounty of nature. We have grown on the principles of health, ecology, and care. We aim to give our
          customers
          a healthy chemical-free meal for perfect nutrition. It offers about 8–10% carbs. Simple sugars — such as
          glucose
          and fructose — make up 70% and 80% of the carbs in raw.</p>
      </div>
      <!--      <div id="text_02" class="description goods__additional-description">-->
      <!--        <p>-->
      <!--          can discover-->
      <!--          the bounty of nature. We have grown on the principles of health, ecology, and care. We aim to give our-->
      <!--          customers-->
      <!--          a healthy chemical-free meal for perfect nutrition. It offers about 8–10% carbs. Simple sugars — such as-->
      <!--          glucose-->
      <!--          and fructose — make up 70% and 80% of the carbs in raw.</p>-->
      <!--      </div>-->
    </div>
  </div>
</section>
