<header class="header">
  <div class="container container-big">
    <nav class="nav">
      <a href="/" class="header__logo">
        <img src="img/logo.png" alt=""></a>
      </a>
      <ul>
        <li><a href="main.html">Home</a></li>
        <li><a href="aboutcompany.html">About</a></li>
        <li><a href="/">Pages</a></li>
        <li><a href="shop.html">Shop</a></li>
        <li><a href="/">Projects</a></li>
        <li><a href="/">News</a></li>
      </ul>
      <div class="header__info">
        <div class="header__search">
          <input type="text">
          <div class="header__search-img">
            <img src="img/search-icon.svg" alt="">
          </div>
        </div>
        <a href="/" class="header__cart">
         <img src="img/cart-icon.svg" alt="">
          <span>Cart (0)</span>
        </a>
      </div>
    </nav>
  </div>
</header>
