<section class="ingredients">
  <div class="container">
    <div class="ingredients__body">
      <div class="ingredients__card">
        <div class="ingredients__img"><img src="img/ingredients-img1.png" alt=""></div>
        <div class="ingredients__text">
          <div class="title-6 ingredients__title"><h6>Green & Tasty
            Lemon</h6></div>
          <div class="introduction ingredients__introduction"><span>Fruits</span></div>
        </div>
      </div>
      <div class="ingredients__card">
        <div class="ingredients__img"><img src="img/ingredients-img2.png" alt=""></div>
        <div class="ingredients__text">
          <div class="title-6 ingredients__title"><h6>Green & Tasty
            Lemon</h6></div>
          <div class="introduction ingredients__introduction"><span>Fruits</span></div>
        </div>
      </div>
      <div class="ingredients__card">
        <div class="ingredients__img"><img src="img/ingredients-img3.png" alt=""></div>
        <div class="ingredients__text">
          <div class="title-6 ingredients__title"><h6>Green & Tasty
            Lemon</h6></div>
          <div class="introduction ingredients__introduction"><span>Fruits</span></div>
        </div>
      </div>
      <div class="ingredients__card">
        <div class="ingredients__img"><img src="img/ingredients-img4.png" alt=""></div>
        <div class="ingredients__text">
          <div class="title-6 ingredients__title"><h6>Green & Tasty
            Lemon</h6></div>
          <div class="introduction ingredients__introduction"><span>Fruits</span></div>
        </div>
      </div>
      <div class="ingredients__card">
        <div class="ingredients__img"><img src="img/ingredients-img5.png" alt=""></div>
        <div class="ingredients__text">
          <div class="title-6 ingredients__title"><h6>Green & Tasty
            Lemon</h6></div>
          <div class="introduction ingredients__introduction"><span>Fruits</span></div>
        </div>
      </div>
      <div class="ingredients__card">
        <div class="ingredients__img"><img src="img/ingredients-img6.png" alt=""></div>
        <div class="ingredients__text">
          <div class="title-6 ingredients__title"><h6>Green & Tasty
            Lemon</h6></div>
          <div class="introduction ingredients__introduction"><span>Fruits</span></div>
        </div>
      </div>
    </div>
  </div>
</section>
