<section class="inputs">
  <div class="container inputs__container">
    <div class="inputs__main">
      <div class="inputs__block">
        <span>Full Name*</span>
        <input type="text" class="input" placeholder="Your Email Address">
      </div>
      <div class="inputs__block">
        <span>Your Email*</span>
        <input type="text" class="input" placeholder="example@yourmail.com">
      </div>
      <div class="inputs__block">
        <span>Company*</span>
        <input type="text" class="input" placeholder="your company name here">
      </div>
      <div class="inputs__block">
        <span>Subject*</span>
        <input type="text" class="input" placeholder="how can we help">
      </div>
    </div>
    <div class="inputs__block inputs__block-big">
      <span>Subject*</span>
      <textarea type="text" class="input" rows="10"
                placeholder="hello there, i would like to talk about how to..."></textarea></divinputs__textarea>
    </div>
    <button class="btn">Send Message</button>
  </div>
</section>
