<section class="natural">
  <div class="container natural__container">
    <div class="natural__bg">
      <img src="img/natural-bg.png" alt="">
    </div>
    <div class="natural__content">
      <div class="introduction"><span>100% Natural Food</span></div>
      <div class="title-1 natural__content-title">
        <h1>Choose the best healthier way of life</h1>
      </div>
      <a href="/" class="btn btn-yellow">Explore now <img src="img/btn-arrow.svg" alt=""></a>
    </div>
  </div>
</section>
