<section class="ncards">
  <div class="container">
    <div class="ncards__deck">
      <div class="ncards__card">
        <div class="ncards__bg"><img src="img/ncards-bg.png" alt=""></div>
        <div class="ncards__content">
          <div class="introduction"><p>Natural!!</p></div>
          <div class="title-3 ncards__title"><h3>Get Garden Fresh Fruits</h3></div>
        </div>
      </div>
      <div class="ncards__card">
        <div class="ncards__bg"><img src="img/ncards-bg2.png" alt=""></div>
        <div class="ncards__content">
          <div class="introduction"><p>Offer!!</p></div>
          <div class="title-3 ncards__title"><h3>Get 10% off on Vegetables</h3></div>
        </div>
      </div>
    </div>
  </div>
</section>
