<section class="offer">
  <div class="container">
    <div class="offer__start">
      <div class="offer__name">
        <div class="introduction"><p>Offer</p></div>
        <div class="title-2 offer__title"><h2>We Offer Organic For You</h2></div>
      </div>
      <a href="/" class="btn btn-yellow offer__btn">View All Product <img src="img/btn-arrow.svg" alt=""></a>
    </div>
    <div class="deck products__deck-small">
      <a href="/" class="card">
        <div class="card__mark"><p>Vegetable</p></div>
        <div class="card__img"><img src="img/card-broccoli2.png" alt=""></div>
        <div class="card__title"><p>Mung Bean</p></div>
        <div class="card__content">
          <p>$20.00</p>
          <p>$11.00</p>
          <img src="img/card-stars.svg" alt="">
        </div>
      </a>
      <a href="/" class="card">
        <div class="card__mark"><p>Vegetable</p></div>
        <div class="card__img"><img src="img/card-zucchini.png" alt=""></div>
        <div class="card__title"><p>Brown Hazelnut</p></div>
        <div class="card__content">
          <p>$20.00</p>
          <p>$12.00</p>
          <img src="img/card-stars.svg" alt="">
        </div>
      </a>
      <a href="/" class="card">
        <div class="card__mark"><p>Vegetable</p></div>
        <div class="card__img"><img src="img/card-onion.png" alt=""></div>
        <div class="card__title"><p>Onion</p></div>
        <div class="card__content">
          <p>$20.00</p>
          <p>$17.00</p>
          <img src="img/card-stars.svg" alt="">
        </div>
      </a>
      <a href="/" class="card">
        <div class="card__mark"><p>Vegetable</p></div>
        <div class="card__img"><img src="img/card-cabbage.png" alt=""></div>
        <div class="card__title"><p>Cabbage</p></div>
        <div class="card__content">
          <p>$20.00</p>
          <p>$17.00</p>
          <img src="img/card-stars.svg" alt="">
        </div>
      </a>
    </div>
  </div>
</section>
