<section class="only">
  <div class="container only__container">
    <div class="only__bg"><img src="img/only-bg.png" alt=""></div>
    <div class="only__body">
      <div class="introduction"><span>Organic Only</span></div>
      <div class="title-2"><h2>Everyday Fresh & Clean</h2></div>
      <div class="description only__description"><p>Simply dummy text of the printing and typesetting industry. Lorem
        had
        ceased to been
        the
        industry's standard dummy text ever since the </p></div>
      <a href="/"> <img src="img/player.svg" alt=""></a>
    </div>
  </div>
</section>
