<section class="quality">
  <div class="container">
    <div class="quality__content">
      <div class="quality__bg"><img src="img/quality-fruits.png" alt=""></div>
      <div class="introduction"><p>About Us</p></div>
      <div class="title-2 quality__title"><h2>We Believe in Working Accredited Farmers</h2></div>
      <div class="description quality__description"><p>Simply dummy text of the printing and typesetting industry.
        Lorem had ceased to been the industry's standard dummy text ever since the 1500s, when an unknown printer took
        a galley.</p></div>
      <div class="quality__deck">
        <div class="quality__card">
          <div class="quality__img"><img src="img/quality-card1.png" alt=""></div>
          <div class="quality__text">
            <div class="title-6 quality__text-title"><h6>Organic Foods Only</h6></div>
            <div class="description"><p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
        <div class="quality__card">
          <div class="quality__img"><img src="img/quality-card1.png" alt=""></div>
          <div class="quality__text">
            <div class="title-6 quality__text-title"><h6>Organic Foods Only</h6></div>
            <div class="description"><p>Simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
            </div>
          </div>
        </div>
      </div>
      <a href="/" class="btn">Shop Now <img src="img/btn-arrow.svg" alt=""></a>
    </div>
  </div>
</section>
