<section class="related">
  <div class="container">
    <div class="title-2 related__title"><h2>Related Products</h2></div>
    <div class="deck">
      <a href="single.html" class="card">
        <div class="card__mark"><p>Vegetable</p></div>
        <div class="card__img"><img src="img/card-broccoli.png" alt=""></div>
        <div class="card__title"><p>Calabrese Broccoli</p></div>
        <div class="card__content">
          <p>$20.00</p>
          <p>$13.00</p>
          <img src="img/card-stars.svg" alt="">
        </div>
      </a>
      <a href="single.html" class="card">
        <div class="card__mark"><p>Fresh</p></div>
        <div class="card__img"><img src="img/card-banana.png" alt=""></div>
        <div class="card__title"><p>Fresh Banana Fruites</p></div>
        <div class="card__content">
          <p>$20.00</p>
          <p>$14.00</p>
          <img src="img/card-stars.svg" alt="">
        </div>
      </a>
      <a href="single.html" class="card">
        <div class="card__mark"><p>Millets</p></div>
        <div class="card__img"><img src="img/card-nuts.png" alt=""></div>
        <div class="card__title"><p>White Nuts</p></div>
        <div class="card__content">
          <p>$20.00</p>
          <p>$15.00</p>
          <img src="img/card-stars.svg" alt="">
        </div>
      </a>
      <a href="single.html" class="card">
        <div class="card__mark"><p>Vegetable</p></div>
        <div class="card__img"><img src="img/card-tomatoes.png" alt=""></div>
        <div class="card__title"><p>Vegan Red Tomato</p></div>
        <div class="card__content">
          <p>$20.00</p>
          <p>$17.00</p>
          <img src="img/card-stars.svg" alt="">
        </div>
      </a>
    </div>
  </div>
</section>
