<section class="soffer">
  <div class="container soffer__container">
    <div class="introduction"><span>About Us</span></div>
    <div class="title-2 soffer__title"><h2>What We Offer for You</h2></div>
    <div class="soffer__deck">
      <a href="/" class="soffer__card">
        <div class="soffer__img"><img src="img/card-spicy.png" alt=""></div>
        <div class="title-6 soffer__card-title"><h6>Spicy</h6></div>
      </a>
      <a href="/" class="soffer__card">
        <div class="soffer__img"><img src="img/card-nuts2.png" alt=""></div>
        <div class="title-6 soffer__card-title"><h6>Nuts & Feeds</h6></div>
      </a>
      <a href="/" class="soffer__card">
        <div class="soffer__img"><img src="img/card-garnet.png" alt=""></div>
        <div class="title-6 soffer__card-title"><h6>Fruits</h6></div>
      </a>
      <a href="/" class="soffer__card">
        <div class="soffer__img"><img src="img/card-ginger.png" alt=""></div>
        <div class="title-6 soffer__card-title"><h6>Vegetable</h6></div>
      </a>
    </div>
  </div>
</section>
