<section class="squares">
  <div class="squares__block">
    <div class="squares__card">
      <div class="squares__bg"><img src="img/square-bg1.png" alt=""></div>
      <div class="squares__text"><span>Organic Juice</span></div>
    </div>
    <div class="squares__card">
      <div class="squares__bg"><img src="img/square-bg2.png" alt=""></div>
      <div class="squares__text"><span>Organic Food</span></div>
    </div>
    <div class="squares__card">
      <div class="squares__bg"><img src="img/square-bg3.png" alt=""></div>
      <div class="squares__text"><span>Nuts Cookies</span></div>
    </div>
  </div>
</section>
