<section class="subscribe">
  <div class="container">
    <div class="subscribe__block">
      <div class="subscribe__bg">
        <img src="img/subscribe-bg.jpg" alt="">
      </div>
      <div class="subscribe__info">
        <div class="title-2 subscribe__info-title">
          <h2>Subscribe to <br> our Newsletter</h2>
        </div>
      </div>
      <div class="subscribe__email">
        <input type="text" placeholder="Your Email Adress">
        <a href="/" class="btn">Subscribe</a>
      </div>
    </div>
  </div>
</section>
