<section class="testimonial">
  <div class="container testimonial__container">
    <div class="testimonial__bg"><img src="img/testimonial-bg.png" alt=""></div>
    <div class="introduction"><p>Testimonial</p></div>
    <div class="title-2 testimonial__title"><h2>What Our Customer Saying?</h2></div>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <div class="testimonial__review">
            <div class="testimonial__img-icon"><img src="img/woman.png" alt=""></div>
            <div class="testimonial__img-stars"><img src="img/card-stars.svg" alt=""></div>
            <div class="description testimonial__description"><p>Simply dummy text of the printing and typesetting
              industry.
              Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p></div>
            <div class="title-6 testimonial__review-title"><h6>Sara Taylor</h6></div>
            <span>Consumer</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial__review">
            <div class="testimonial__img-icon"><img src="img/woman.png" alt=""></div>
            <div class="testimonial__img-stars"><img src="img/card-stars.svg" alt=""></div>
            <div class="description testimonial__description"><p>Simply dummy text of the printing and typesetting
              industry.
              Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p></div>
            <div class="title-6 testimonial__review-title"><h6>Sara Taylor</h6></div>
            <span>Consumer</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial__review">
            <div class="testimonial__img-icon"><img src="img/woman.png" alt=""></div>
            <div class="testimonial__img-stars"><img src="img/card-stars.svg" alt=""></div>
            <div class="description testimonial__description"><p>Simply dummy text of the printing and typesetting
              industry.
              Lorem Ipsum simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p></div>
            <div class="title-6 testimonial__review-title"><h6>Sara Taylor</h6></div>
            <span>Consumer</span>
          </div>
        </div>
      </div>
      <div class="swiper-pagination testimonial__pagination"></div>
    </div>
    <div class="testimonial__stats">
      <div class="testimonial__circle">
        <div class="testimonial__text">
          <div class="title-2"><h2>100%</h2></div>
          <span>Organic</span>
        </div>
      </div>
      <div class="testimonial__circle">
        <div class="testimonial__text">
          <div class="title-2"><h2>285</h2></div>
          <span>Active Product</span>
        </div>
      </div>
      <div class="testimonial__circle">
        <div class="testimonial__text">
          <div class="title-2"><h2>350+</h2></div>
          <span>Organic Orchads</span>
        </div>
      </div>
      <div class="testimonial__circle">
        <div class="testimonial__text">
          <div class="title-2"><h2>25+</h2></div>
          <span>Years of Farming</span>
        </div>
      </div>
    </div>
  </div>
</section>
