// если вы хотите использовать sass-переменные - удалите root
// colors
:root {

  // colors
  --white: #fff;
  --black: #111;
  --dark-green: #274C5B;
  --green: #7EB693;
  --light-green: #EFF6F1;
  --yellow: #EFD372;
  --dark-grey: #525C60;
  --grey: #D4D4D4;
  --light-grey: #F9F8F8;
  --border-color: #E0E0E0;
  --hover-transition: .25s ease-in-out;
}
